<div class="course-card">
  <div class="course-title">{{ index }} {{ course.description }}</div>



  @if (course.iconUrl) {
    <ng-content select="course-image"></ng-content>
  } @else {
    <p class="warn">No image is available yet.</p>
    <img src="/assets/empty-image.png" alt="No image available" />
  }
  

  <div class="course-description">{{ course.longDescription }}</div>

  <div class="course-category">
    @switch(course.category) { @case('BEGINNER') {
    <span class="category">Beginner</span>
    } @case('INTERMEDIATE') {
    <span class="category">Intermediate</span>
    } @case('ADVANCED') {
    <span class="category">Advanced</span>
    } @default {
    <span class="category">Unknown</span>
    } }
  </div>
  <button (click)="onCourseViewed()">View Course</button>
</div>
